<div
  class="custom-collage__img custom-collage__img--{{ index }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  style="aspect-ratio: {{ aspect_ratio }};{% if settings.animations_reveal_on_scroll %} --animation-order: {{ index }};{% endif %}"
  {% if block %}{{ block.shopify_attributes }}{% endif %}
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  {%- if block and block.settings.image != blank -%}
    {%- if block.settings.link != blank -%}
      <a href="{{ block.settings.link }}" class="custom-collage__link">
    {%- endif -%}
    {{
      block.settings.image
      | image_url: width: 1600
      | image_tag: loading: 'lazy', widths: '375, 550, 750, 900, 1100, 1300, 1500, 1600'
    }}
    {%- if block.settings.link != blank -%}
      </a>
    {%- endif -%}
  {%- else -%}
    <div class="custom-collage__placeholder">
      {{ 'image' | placeholder_svg_tag }}
    </div>
  {%- endif -%}
</div>
