{%- liquid
  assign currency_divisor = 100.0
  assign currency_divisor_int = 100
  if cart.currency.iso_code == 'JPY' or cart.currency.iso_code == 'KRW'
    assign currency_divisor = 1.0
    assign currency_divisor_int = 1
  endif

  assign min_val = ''
  if filter.min_value.value
    assign min_val_mod = filter.min_value.value | modulo: currency_divisor_int
    if min_val_mod == 0
      assign min_val = filter.min_value.value | divided_by: currency_divisor_int
    else
      assign min_val = filter.min_value.value | divided_by: currency_divisor
    endif
  endif

  assign max_val = ''
  if filter.max_value.value
    assign max_val_mod = filter.max_value.value | modulo: currency_divisor_int
    if max_val_mod == 0
      assign max_val = filter.max_value.value | divided_by: currency_divisor_int
    else
      assign max_val = filter.max_value.value | divided_by: currency_divisor
    endif
  endif

  assign range_max_mod = filter.range_max | modulo: currency_divisor_int
  if range_max_mod == 0
    assign range_max_val = filter.range_max | divided_by: currency_divisor_int
  else
    assign range_max_val = filter.range_max | divided_by: currency_divisor
  endif
-%}

<span class="field-currency">{{ cart.currency.symbol }}</span>

<div class="field">
  <input
    class="field__input"
    name="{{ filter.min_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
    {%- if filter.min_value.value -%}
      value="{{ min_val }}"
    {%- endif -%}
    type="number"
    placeholder="0"
    min="0"
    max="{{ range_max_val }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">
    {{- 'products.facets.from' | t -}}
  </label>
</div>

{%- if filter_type != 'vertical' -%}
  <span class="field-currency">{{ cart.currency.symbol }}</span>
{%- endif -%}

<div class="field">
  <input
    class="field__input"
    name="{{ filter.max_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
    {%- if filter.max_value.value -%}
      value="{{ max_val }}"
    {%- endif -%}
    type="number"
    min="0"
    placeholder="{{ range_max_val }}"
    max="{{ range_max_val }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">
    {{- 'products.facets.to' | t -}}
  </label>
</div>
