{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    <div class="WI_suggResult_con ma-sugg-result-con">
      <h3 class="ma-search-section-title">{{ 'general.search.search' | t }}</h3>
      {%- if predictive_search.resources.queries.size > 0 -%}
        <ul
          id="predictive-search-results-queries-list"
          class="predictive-search__results-list list-unstyled ma-search-query-list"
          role="group"
          aria-labelledby="predictive-search-queries"
        >
          {%- for query in predictive_search.resources.queries -%}
            <li
              id="predictive-search-option-query-{{ forloop.index }}"
              class="predictive-search__list-item"
              role="option"
              aria-selected="false"
            >
              <a href="{{ query.url }}" class="predictive-search__item link link--text" tabindex="-1">
                <div class="predictive-search__item-content predictive-search__item-content--centered">
                  <p
                    class="predictive-search__item-heading predictive-search__item-query-result"
                    aria-label="{{ query.text }}"
                  >
                    {{ query.styled_text }}
                  </p>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

    <h3 id="ma-predictive-search-products" class="ma-search-section-title ma-search-section-title--products">
      {{ 'templates.search.products' | t | upcase }}
      {% if settings.BTN_check %}
        <button type="button" onclick="redirectToSearch()" id="ma-sdp-search-btn">{{ settings.BTN_text }}</button>
      {% endif %}
    </h3>

    <div class="WI_productResult_con ma-product-result-con">
      {%- if predictive_search.resources.products.size > 0 -%}
        {%- for product in predictive_search.resources.products -%}
          <div class="WI_productResult_product ma-product-result-product">
            {% render 'card-product-item', card_product: product %}
          </div>
        {%- endfor -%}
      {%- else -%}
        <p class="ma-no-sugg">{{ 'templates.search.no_results' | t }}</p>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
