{%- style -%}
  .ma-tp-widget {
    background: transparent;
    overflow: hidden;
    padding-top: {{ section.settings.ma-trust-section-padding-top }}px;
    padding-bottom: {{ section.settings.ma-trust-section-padding-bottom }}px;
    {% if section.settings.top_p %}padding-top: 0;{% endif %}
    {% if section.settings.bottom_p %}padding-bottom: 0;{% endif %}
  }

  @media screen and (max-width: 749px) {
    .ma-tp-widget {
      margin-block: 30px;
      padding-top: {{ section.settings.ma-trust-section-padding-top-mobile }}px;
      padding-bottom: {{ section.settings.ma-trust-section-padding-bottom-mobile }}px;
    }
  }
{%- endstyle -%}











{% comment %} Static styles moved to sereluna.css {% endcomment %}




<div class="page-width">
<div class="row full-width-row">
  <div class="small-12 columns">
    <div class="ma-tp-container ma-tp-widget container">
      <div class="ma-tp-trusted-by">
        <h2 class="ma-tp-header-title">{{ section.settings.main-heading }}</h2>
        <div class="ma-tp-arrow-wrapper">
          <a href="{{ section.settings.trustpiloturl }}" class="trustpilot-slider__header__link">
            {{ section.settings.trustpilot_text }}
          </a>
          <div class="ma-tp-prev">
            <svg class="icon icon--arrow-left-large" viewBox="0 0 20 20">
              <path d="M14.429 19.857c-.143 0-.286 0-.429-.143L5.143 11c-.572-.571-.572-1.571 0-2.143L13.857.143a.69.69 0 011 0 .69.69 0 010 1L6.286 10 15 18.714a.69.69 0 010 1c-.143.143-.286.143-.571.143z"></path>
            </svg>
          </div>
          <div class="ma-tp-next">
            <svg class="icon icon--arrow-left-large" viewBox="0 0 20 20">
              <path d="M14.429 19.857c-.143 0-.286 0-.429-.143L5.143 11c-.572-.571-.572-1.571 0-2.143L13.857.143a.69.69 0 011 0 .69.69 0 010 1L6.286 10 15 18.714a.69.69 0 010 1c-.143.143-.286.143-.571.143z"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="ma-tp-custom-head">
        <div class="ma-tp-left-content">
          <p>{{ section.settings['ma-section-heading'] }}</p>
        </div>
        <div class="ma-tp-right-content"></div>
      </div>

      <div class="ma-tp-row-flex">
        <div class="ma-tp-flex-2">
          <div class="ma-tp-left-wrapper">
            <h3 class="ma-tp-left-title">{{ section.settings.heading }}</h3>
            <div class="ma-tp-rating">
              <div class="ma-trustpilot__stars"><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg></div>
            </div>
            <div class="ma-tp-info">
              <span class="ma-tp-span-text">4.9 ud af 5</span>
              <a href="{{ section.settings.trustpilot_url }}" class="review-count">
                {{- section.settings.total_reviews }}
              </a>
            </div>
          </div>
        </div>

        <div class="ma-tp-flex-9 ma-tp-reviews">
          <!-- Swiper Container -->
          <div class="swiper-container ma-tp-swiper-container ma-tp-slider-wrap">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                <div class="swiper-slide">
                  <div class="row">
                    <div class="ma-tp-flex-12"></div>
                    <div class="ma-tp-clearfix"></div>
                    <div class="ma-tp-flex-12">
                      <div class="ma-tp-name">{{ block.settings.name }}</div>
                      <div class="ma-tp-description">{{ block.settings.description }}</div>
                      <div class="ma-tp-date">{{ block.settings.date }}</div>
                      <div class="pull-left ma-tp-rating">
                        <div class="ma-trustpilot__stars"><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg><svg class="trustpilot__stars__item" viewBox="0 0 30 30"><path d="M28 30H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h26c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2z" fill="#579f78"></path><path d="M24.4 12.7c-.2-.5-.6-.9-1.1-1l-4.9-.7-2.1-4.3c-.4-.7-1.3-.9-2-.5-.2.1-.4.3-.5.5l-2.2 4.4-4.8.7c-.8.1-1.3.8-1.2 1.6 0 .3.2.6.4.8l3.5 3.4-.8 4.8c-.1.8.4 1.5 1.2 1.6.3.1.6 0 .9-.1l4.3-2.3 4.3 2.2c.7.4 1.5.1 1.9-.6.1-.3.2-.6.1-.9l-.8-4.8 3.5-3.4c.3-.3.4-.9.3-1.4z" fill="#fff"></path></svg></div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
            <!-- Custom Arrows are outside above -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  function initMaTpSlider() {
    var sliderElement = document.querySelector('.ma-tp-swiper-container');
    if (!sliderElement) return;

    var swiper = new Swiper('.ma-tp-swiper-container', {
      slidesPerView: 4,
      spaceBetween: 10,
      speed: 300,
      loop: true,
      watchOverflow: true,
      navigation: {
        nextEl: '.ma-tp-next',
        prevEl: '.ma-tp-prev',
      },
      breakpoints: {
        1024: {
          slidesPerView: 3,
          slidesPerGroup: 1,
          spaceBetween: 10,
        },
        600: {
          slidesPerView: 2,
          slidesPerGroup: 2,
          spaceBetween: 10,
        },
        480: {
          slidesPerView: 1,
          slidesPerGroup: 1,
          spaceBetween: 10,
        }
      }
    });
  }
  document.addEventListener('DOMContentLoaded', initMaTpSlider);
  document.addEventListener('shopify:section:load', initMaTpSlider);
</script>

{% schema %}
{
  "name": "Trustpilot Slider",
  "class": "trust-bg",
  "settings": [
    {
      "type": "text",
      "id": "main-heading",
      "label": "Main Heading",
      "default": "Det siger vores kunder"
    },
    {
      "type": "text",
      "id": "ma-section-heading",
      "label": "Enter section heading",
      "default": "This is section heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Fremragende"
    },
    {
      "type": "text",
      "id": "trustpilot_text",
      "label": "Trustpilot Text",
      "default": "Se alle anmeldelser"
    },
    {
      "type": "url",
      "id": "trustpiloturl",
      "label": "Trustpilot Url"
    },
    {
      "type": "text",
      "id": "total_reviews",
      "label": "Total Reviews",
      "default": "226+ anmeldelser"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color"
    },
    {
      "id": "alternate_bg_color",
      "type": "checkbox",
      "label": "Use alternate section color",
      "default": false
    },
    {
      "type": "range",
      "id": "ma-trust-section-padding-top",
      "label": "Padding Top desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "ma-trust-section-padding-bottom",
      "label": "Padding Bottom desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "ma-trust-section-padding-top-mobile",
      "label": "Padding Top Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "ma-trust-section-padding-bottom-mobile",
      "label": "Padding Bottom Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    }
  ],
  "blocks":[
    {
      "name": "Trustpilot",
      "type": "review",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Would I recommend this company? Early signs is a resounding YES!"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date/ Time",
          "default": "33 hours ago"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "I looked at this company in depth, after requesting a phone call to discuss my r.."
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "John Cina"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trustpilot Slider"
    }
  ]
}
{% endschema %}
